<footer class="bg-gray">

    <div class="container" role="contentinfo">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h5><%=t :contact %></h5>
                <address>
                    CLIR+DLF<br>
                    1707 L St. NW,<br>
                    Suite 650<br>
                    Washington, DC 20036<br>
                    <abbr title="Phone">P:</abbr>
                    (202) 939-4750<br>
                    <abbr title="Email">E:</abbr>
                    <a href="mailto:dlme@clir.org">dlme@clir.org</a>
                </address>
            </div>
            <div class="col-md-3 col-sm-6">
                <h5><%=t :elsewhere %></h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://twitter.com/digilibraryme">
                            <i class="fa fa-twitter twitter" aria-hidden="true"></i>
                            @digilibraryme</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-github githib" aria-hidden="true"></i>
                            GitHub</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h5><%=t :events %></h5>
                <div id="calendar">
                    <ul class="list-unstyled" id="upcoming-events"></ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <i class="logo icon-clir-logo-square hidden-collections-color"></i>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-alt">
                    <p class="pull-right">
                      <%=t :copyright %>
                        <%= link_to 'CC BY-SA 4.0 License', 'https://creativecommons.org/licenses/by-sa/4.0/legalcode' %>
                    </p>
                    <p class="logo">
                        <a href="https://www.clir.org/">
                            <i class="icon-clir-logo-square clir-color"></i>
                            <span class="clir clir-font"><%= t :clir %></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="container">
    <div class="col-md-12">
        <div class="footer-alt">
            <p class="pull-right">

                <p class="logo"></p>
            </div>
        </div>
    </div>
</footer>
