<!DOCTYPE html>
<html>
  <head>
    <title>Digital Library of the Middle East</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% if I18n.locale != :en %>
      <%= stylesheet_link_tag "locales/" + I18n.locale.to_s %>
      <%# TODO: refactor logic in to mixins in the layouts %>
      <link rel="stylesheet" href="//cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-rtl.min.css">
    <% end %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
